/**
 * For styling the page. Nothing fancy.
 * Tutorial: http://learn.shayhowe.com/html-css/
 */
#container {
  padding: 10px;
}

#question {
  border: 1px solid #ccc;
  min-height: 300px;
  background: #333;
  color: white;
  text-align: center;
  font-size: 30px;
  line-height: 100px;
  padding-top: 70px;
  letter-spacing: 10px;
}

#resultContainer {
  margin: 10px 0px;
  display: none;
}


.result {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0px;
}
